In [12]:
import pandas as pd
pd.read_csv('data/data.txt', header=None, sep=' ')

       0      1      2      3       4     5   6
0  63.03  22.55  39.61  40.48   98.67 -0.25  AB
1  39.06  10.06  25.02  29.00  114.41  4.56  AB
2  68.83  22.22  50.09  46.61  105.99 -3.53  AB